* {
  box-sizing: border-box;
  font-family: Helvetica;
}

.mainText {
  color: #ffffff;
}

.white {
  background-color: #ffffff;
}

.whiteText {
  color: #ffffff;
}

.lightWhite {
  background-color: #e8f0f5;
}

.lightBlue {
  background-color: #1e8cbe;
}

.darkBlue {
  background-color: #0070a4;
}

.black {
  background-color: #000000;
}

.gray {
  background-color: #616e7f;
}

.lightgray {
  background-color: #c7d2d8;
}
.header {
  background-color: #118bc0;
  height: 3rem;
  display: flex;
  padding-left: 0.9375rem;
  align-items: center;
}

.headerLeftBox {
  height: 2rem;
  max-width: 2rem;
  width: 100%;
  margin-right: 0.875rem;
}

.pictures {
  max-width: 100%;
  max-height: 100%;
}

.headerMiddleBox {
  height: 2rem;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.headerCom {
  display: inline;
  color: #87cee4;
  font-size: 1.2rem;
}

.headerRightBox {
  height: 2.875rem;
  border-bottom: 0.125rem;
  max-width: 4.6875rem;
  width: 100%;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.main {
  background-color: #344051;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #ffffff;
  font-size: 1.75rem;
  font-weight: bold;
  max-width: 21.9375rem;
  width: 100%;
  text-align: center;
  font-family: Helvetica;
  padding-bottom: 2.5rem;
  margin-top: 10.3125rem;
}

.subTitle {
  color: #ffffff;
  font-size: 1rem;
  max-width: 16.4375rem;
  width: 100%;
  text-align: center;
  font-family: Arial;
  padding-bottom: 2rem;
}

.subTitleBody {
  border: 0.625rem solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  padding: 1 1.75rem;
  height: 4.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.smallwhiteBox {
  max-width: 3rem;
  width: 100%;
  height: 1.25rem;
  margin-top: 13.25rem;
  margin-bottom: 8.375rem;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.3rem;
}

.titleBoxes {
  height: 4.1875rem;
  max-width: 18.8125rem;
  width: 100%;
  margin-bottom: 1.875rem;
  display: flex;
}

.titleBoxTopText {
  font-size: 1.07rem;
  font-weight: bold;
}

.titleBoxBottomText {
  font-size: 0.9rem;
  display: flex;
}

.smallGrayBox {
  height: 3.5625rem;
  max-width: 3rem;
  width: 100%;
  display: flex;
  align-self: flex-end;
  margin-right: 0.625rem;
}

.largeGrayBox {
  height: 3.4375rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0.625rem;
}

.middleBox {
  height: 11.75rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
  color: #314156;
  line-height: 2.2rem;
}

.bottom {
  background-color: #d1d3d7;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 2rem;
  padding-bottom: 0.0625rem;
}

.bottomNormalBoxes {
  height: 13.4375rem;
  margin-bottom: 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.lightGrayBox {
  margin-top: 1.25rem;
  height: 3.875rem;
  max-width: 3.875rem;
  width: 100%;
  margin-bottom: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}

.smallLongGrayBox {
  height: 1.4375rem;
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.2rem;
  color: #426277;
  font-weight: bold;
}
.largeLongGrayBox {
  height: 3rem;
  width: 100%;
  text-align: center;
  display: flex;
  line-height: 1.5rem;
}

.bottomLargeBoxes {
  height: 14.9375rem;
  margin-bottom: 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.bottomArea {
  box-sizing: border-box;
  height: 10.5625rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1.25rem;
}

.bottomAreaTopText {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
}

.bottomAreaBox {
  height: 3.25rem;
  max-width: 12.9375rem;
  width: 100%;
  margin-top: auto;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 1.75rem;
  padding-left: 3.5625rem;
  padding-right: 3.5625rem;
  padding-bottom: 1.25rem;
}
.footerText {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.75rem;
}

.footerTop {
  display: flex;
  padding-bottom: 0.8125rem;
}

.footerMiddle {
  display: flex;
  padding-left: 8rem;
  padding-right: 8rem;
}

.footerBottom {
  display: flex;
  height: 1.4375rem;
  max-width: 8.25rem;
  width: 100%;
  margin-top: 1.375rem;
}
